<div class="input-wrapper">
  <label class="input-lable">
    {{ label }}
    @if (isRequired) {<span class="required">*</span>}
  </label>
  <input
    [type]="type"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    class="input-element"
    [ngClass]="{
      'input-element-error':
        control!.invalid && (control!.dirty || control!.touched)
    }"
  />

  @if (control!.invalid && (control!.dirty || control!.touched)) {
  <div class="error-messages">
    @if (control!.errors?.['required']) {
    <div>This field is required.</div>
    }@else if (control!.errors?.['maxlength']) {
    <div>
      Maximum length ({{control!.errors?.['maxlength'].requiredLength}}
      characters) exceeded.
    </div>
    }@else {Value is not valid}
  </div>
  }
</div>
