
.search
    border: 1px solid #cfcfcf
    border-radius: 25px
    display: inline-block
    overflow: hidden
    padding: 10px 20px

.search-icon
    padding-left: 5px

.search-input
    border: none
    outline: none
    min-width: 200px
