<div class="input-wrapper">
  <label class="input-lable">
    {{ label }}
    @if (isRequired) {<span class="required">*</span>}
  </label>
  <textarea
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="handleInput($event)"
    (blur)="onTouched()"
    rows="5"
    class="input-element"
    [ngClass]="{
      'input-element-error':
        control?.invalid && (control?.dirty || control?.touched)
    }"
  ></textarea>

  @if (control?.invalid && (control?.dirty || control?.touched)) {
  <div class="error-messages">
    @if (control?.errors?.['required']) {
    <div>This field is required.</div>
    }@else if (control?.errors?.['maxlength']) {
    <div>
      Maximum length ({{control?.errors?.['maxlength'].requiredLength}}
      characters) exceeded.
    </div>
    }@else {Value is not valid}
  </div>
  }
</div>
